body {
  background-color: #1f1f1f;
}

.nav-bar {
  position: fixed;
  top: 0;
  overflow: hidden;
  text-align: center;
  z-index: 1000;
}

.nav-item {
  display:inline-block;
}

.main{
  padding: 2%;
  height: 100%;
  overflow: scroll;
}
